runs
venv
records
recording
*.txt
!requirements.txt
*.dat
__pycache__
*.png
*.pyc
roboschool-files

# .idea
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
.idea/sbt.xml

Chapter06/**/*.mp4
Chapter06/**/*.json

